*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%; 
     height: 100%;
      overflow-x: hidden;  
}



.body_iframe{
    width: 100%;
    padding: 0;
}

.body_header{
    height: 48em;

}

.body_main{
    height: 70em;

}

.body_article{
    height: 95em;
    background-color: ghostwhite;
}

.body_footer{
    height: 26rem;
}

.body_aside{
    height: 50rem;
}