.body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.article__container{
    width: 100%;
}

.article-title__content{
    margin-top: 40px;

    min-height: 10%;
}

.content__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon__container{
    display: flex;
    height: 85px;
    width: 85px;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    border-width: 3px;
    border-color: #000000;
    margin-bottom: 10px!important;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.content_title{
    text-align: center;
}

.title_p{
    font-size: 1.6em;
}

.book_photos-column img{
    width: 13em;
    height: 18em; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta el método de ajuste según tus necesidades */
    margin: 5px;
    border-radius: 5%;
}

.article-book_photos{
    display: flex;
    padding: 5px;
}

.book_photos-column{
    flex: 0 0 50%; /* Ajusta el tamaño de la columna según tus necesidades */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho real */

}

