body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Metropolis Extra Light', Helvetica, Arial, Lucida, sans-serif;
    overflow: hidden; /* Evita que se genere un scrollbar en el body */
}
.container_content {
    position: relative;
    width: 100vw;
    height: 100vh; /* Ajusta la altura al 100% de la ventana */
    overflow: hidden; /* Evita que la imagen se expanda o contraiga en zoom */
    background: url('../static/imgfondo.png') center/cover no-repeat; /* Establece la imagen de fondo */
}

.header_container {
    text-align: center;
    display: flex;
    align-items: center;
   
}

 .header-p {
    color: white;
    font-size: 3em;
    margin: 0;
    
}

.date_value_label{
color:white;
font-size:4em;
margin: 0;

}

/* 

.content-container_date {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    left: 73%;
    transform: translate(-50%, 0);
}

.date_value {
    display: flex;
    flex-direction: column;
    width: 17%;
    max-width: 160px;
    vertical-align: top;
}


   */